---
layout: default
title: "Sessions"
---

<h1>Sessions</h1>
<p class="lead">Workshops will be on Day 1; Day 2 will be a single track with 30 minute sessions. The sessions are currently in no particular order - schedule will be announced soon.</p>
<p class="lead">Abstracts and speaker bios coming soon.</p>

{% for day in site.data.sessions %}
  <h2>{{day.title}}</h2>
  {% for track in day.tracks %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{track.title}}</h3>
      </div>
      {% for topic in track.topics %}
        <div class="panel-body">
          <strong>{{topic.title}}</strong>
          <p>
            {% for speaker in topic.speakers %}
              {% if speaker.web %}
                <a href="{{speaker.web}}">{{speaker.name}}</a>
              {% else %}
                {{speaker.name}}
              {% endif %}
              {% if speaker.twitter %}
                (<a href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>)
              {% endif %}
              {% if speaker.avatar %}
                <div class="pull-right">
                  <img src="/images/{{speaker.avatar}}.jpg">
                </div>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

{% endfor %}
