body {
  padding-top: 50px;
}
a {
    text-decoration: underline;
}
nav a {
    text-decoration: none;
}
p {
    margin: 20px 0;
}
.template {
  padding: 40px 15px;
  max-width: 700px;
}

.talk, .workshop {
    padding-left: 10px;
    border-left: 10px solid #702809;
    margin: 30px 0;
}

.talk table, .workshop table {
    border-collapse: separate;
    border-spacing: 40px 20px;
}

.talk td, .workshop td {
  width: 79%;
  vertical-align: top;
  font-size: 130%;
}
.talk td.avatar, .workshop td.avatar {
    width: 20%;
}

img.avatar {
    width: 200px;
    border: 2px solid gray;
}

.sessions h2 {
    margin-top: 100px;
    border-bottom: 1px solid gray;
}