body {
    padding-top: 50px;
}

a {
    text-decoration: underline;
}

nav a, a.btn {
    text-decoration: none;
}

p {
    margin: 20px 0;
}

blockquote {
    font-size: 14px;
}

.template {
    padding: 40px 15px;
    max-width: 700px;
}

.talk, .workshop {
    padding-left: 10px;
    border-left: 10px solid #702809;
    margin: 30px 0;
}

.talk table, .workshop table {
    border-collapse: separate;
    border-spacing: 40px 20px;
}

.talk td, .workshop td {
    width: 79%;
    vertical-align: top;
    font-size: 130%;
}

.talk td.avatar, .workshop td.avatar {
    width: 20%;
}

img.avatar {
    width: 200px;
    border: 2px solid gray;
    margin-bottom: 5px;
    margin-left: 5px;
}

.sessions h2 {
    margin-top: 100px;
    border-bottom: 1px solid gray;
}

.navbar-inverse .navbar-nav > .featured > a {
  color: #fff;
  background-image: linear-gradient(to bottom, #cbe86b 0px, #718D16 100%);
}

img.logo {
  width: 73%;
}

.speaker .bio {
  font-style: italic;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

h2.sponsor-level {
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.sponsor-level-description {
    font-style: italic;
}

ul.sponsors {
    list-style-type: none;
    padding: 0;
}

.sponsor {
    margin: 10px 0;
}

.sponsor a {
    display: inline-block;
}

.sponsor .logo {
    width: 200px;
}

#footer {
    border-top: 1px solid #ccc;
}

.buynow {
    margin: 40px 0;
}

.homepage-sponsors .sponsor {
    float: left;
    margin-right: 10px;
    line-height: 6;
}

.homepage-sponsors h2,
.hotel h2 {
    border-bottom: 1px solid #ccc;
}